IDI_ICON1   ICON    DISCARDABLE "media/key.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1.0
PRODUCTVERSION  1.0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "Nelnir"
            VALUE "FileDescription",    "Password Manager"
            VALUE "FileVersion",        "1.0"
            VALUE "InternalName",       "Nelnir"
            VALUE "LegalCopyright",     ""
            VALUE "LegalTrademarks1",   ""
            VALUE "LegalTrademarks2",   ""
            VALUE "OriginalFilename",   "passmgr"
            VALUE "ProductName",        "PasswordManager"
            VALUE "ProductVersion",     "1.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
